---
import Layout from '../layouts/Layout.astro';
import PasswordForm from '../components/PasswordForm.astro';
const correctPassword = "0409";
const submitted = Astro.request.method === "POST";
let access = false;
if (submitted) {
  const formData = await Astro.request.formData();
  const password = formData.get("password");
  access = password === correctPassword;
}
---

<Layout>
	<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-red-400 via-red-500 to-red-950 bg-opacity-50 py-12 px-4 sm:px-6 lg:px-8">
 

		<PasswordForm />
	 
	
	  </div>

	  
</Layout>